<main class="p-5">
  <div class="card p-5">
    <h1 id="test">
      Hello World! Hello World! Hello World!
    </h1>
  </div>
  <pre>
        fghj    hjh hh        jhjjjk
  </pre>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div style="margin: 10px 50px 100px 200px">

    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>
    <span class="block">Inline-block</span>
  </div>
  <div>Block</div>
</main>