
.card > h1 {
    color: green;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;
}
.card > h1:hover {
    color: green;
    -webkit-text-fill-color: rgb(21, 255, 0);
    -webkit-text-stroke: 1px rgb(39, 0, 0);
    direction: rtl;
}
#test {
    color: initial;
    -webkit-text-fill-color: initial;
    -webkit-text-stroke: initial;
    
    text-align: right;
    letter-spacing: 0,5em;
    text-decoration: underline dotted red;
   
}
pre {
    tab-size: 10;
}
* {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: lighter;
    font-style: italic;
    font-display: swap;

}