.page {
    background: #FFFFFF;
    padding: 0 15px;
}
.page_content {
   max-width: 960px;
   margin: 0 auto; 
}
.header {
    padding: 24px;
    border-bottom: 1px solid #DEE2E6;
}
.header_logo {
    font-size: 17px;
}
.divider {
    margin: 0;
    height: 1px;
    background: #DEE2E6;
}
.nav {
    display: block;
}
.nav_link {
    color: #343A40;
    font-size: 16px;
    text-decoration: none;
}
.nav_link:hover {
    text-decoration: underline;
    color: blue;
}
.nav_vertical > .nav_link {
    display: block;
}
.nav_inline > .nav_link:not(:last-child) {
    margin-right: 24px;
    display: inline;
}
.nav_vertical > .nav_link:not(:last-child) {
    margin-bottom: 12px;
    display: inline;
}
.header_nav_right {
    margin-left: auto;
    width: fit-content;
}
.page_block:not(:last-of-type) {
    margin-bottom: 80px;
}
.footer {
   padding: 24px 0; 
   border-top: 1px solid #DEE2E6;
}
.footer_copyright {
    font-size: 14px;
    color: #6C757D;
    display: block;
    margin-top: 12px;
}
.footer_title {
    font-size: 20px;
    color: #212529;
    display: block;
    margin-bottom: 12px;
}
.hero_title {
    font-size: 56;
    color: #212529;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
}
.hero_text {
    color: #212529;
    font-size: 20px;
    text-align: center;
    max-width: 585px;
    margin: 0 auto;
    line-height: 150%;
}
.plans_card:not(:last-of-type) {
    margin-right: 24px;
}
.card_header {
    padding: 12px;
    text-align: center;
    font-size: 24px;
    color: #212529;
}
.card_body {
    padding: 24px;

}

.card_price_amount {
    font-size: 40px;
    color: #212529;
}
.card_price_duration {
    font-size: 29px;
    color: #6C757D;
    vertical-align: 15px;
}
.card_block {
    text-align: center;
}
.card_block:not(:last-of-type) {
    margin-bottom: 24px;
}
.card_description_item {
    font-size: 16px;
    color: #212529;
    display: block;
}
.card_description_item:not(:last-of-type) {
    margin-bottom: 12px;
}
.card_button {
    display: block;
    width: 100%;
    font-size: 19px;
    padding: 9px;
}
.card {
    border: 1px solid rgb(141, 24, 238);
    border-radius: 15px;
 
}
.card:hover {
    /* outline: 2px solid blue; */
    /* outline-offset: 5px;
    box-shadow: 3px 3px 2px 2px red;
    cursor: pointer; */
    resize: vertical;
  overflow: auto;
}
.btn {
    border-radius: 13px;
    box-shadow: 3px 3px 2px 2px red;
}
h1 {
    text-shadow: 3px 3px 2px red;
}
.plans_card:nth-child(2) > .card {
    visibility: hidden;
}
p {
    background: gray;
    width: 200px;
    height: 100px;

    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.hero_text {
    background-image: url('/img/images.jpg');
    background-attachment: fixed;
     clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');
}
body {
    /* background-image: url('/img/images.jpg'); */
    /* background-repeat: repeat-x; */
    /* clip-path: circle(50%); */
}
.page {
    background-color: transparent;
}
.card_block {
    list-style: disc;
}
.card_description_item {
    display: list-item;
}
/* .table tr{
    border: 1px solid black;
} */
.table tr td {
    border: 1px solid rgba(24, 16, 16, 0.498);
}